{% extends 'base_template.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div id="main_info">
        <h1>О моем проекте</h1>
        <h3>Добро пожаловать на главную страницу моего сайта, посвященного моим любимым фильмам!

        </h3>
        <p>
            В разделе ‘Фильмотека’ вы найдете информацию о таких фильмах, как ‘Матрица’,
            ‘На краю вселенной’, ‘Властелин колец’ и ‘Звездный десант’.
            Возможно, вы еще не видели эти произведения кино, ставшие классикой киноиндустрии.
            Эти фильмы были выбраны не случайно. По моему субъективному мнению, данные проекты являются
            одними из самых достойных представителей своего жанра.
            Предлагаем вам ознакомиться с информацией о этих замечательных фильмах и сериалах.
        </p>
    </div>
{% endblock %}