{% extends 'base_template.html' %}

{% block title %}О создании этого сайта{% endblock %}

{% block content %}
    <div id="my_info">
        <div id="photo">
            <img src="/static/img/my_photo.jpg" alt="my photo">

        </div>

        <div id="text-info">
            <h2>Приветствую!</h2>
            <p>
                Меня зовут Григорий, и я ,большой любитель кино. Я всегда был увлечен историями,
                которые могут рассказать фильмы, и влиянием, которое они оказывают на нас.
                Я люблю анализировать различные аспекты фильмов, такие как сюжет, персонажи,
                кинематография и музыкальное сопровождение.
                Мой первый проект - это веб-сайт, посвященный моим любимым фильмам.
                Я выбрал четыре фильма, которые, по моему мнению, являются истинными шедеврами кинематографа
                и оказали большое влияние на меня.
                Я надеюсь, что мой сайт будет интересен не только мне, но и другим любителям кино. Я всегда
                открыт для обратной связи и предложений, поэтому не стесняйтесь связаться со мной!
            </p>
            <div id="contacts">
                <div class="link"><a href="https://t.me/Shmel71" target="_blank">Мой телеграм</a></div>
                <div class="link"><a href="https://vk.com/mazahaka_71" target="_blank">Мой ВК</a></div>
            </div>
        </div>

    </div>
{% endblock %}